<!DOCTYPE html>
<html lang="en">
<head>
  <title>athletes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--sd-admin style-->
  <!-- Bootstrap Core CSS -->
  <link href="startbs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- MetisMenu CSS -->
  <link href="startbs/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="startbs/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!--popup style-->S
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <!--<link href=startbs"vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }
    }
  </style>
</head>
<body ng-app = "myapp">

<div id="wrapper">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src = '/images/logo.png' width = 50px /></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/country">Country</a></li>
          <li class="active"><a href="/athletes">Athletes</a></li>
          <li><a href="/discipline">Discipline</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
          <li class="sidebar-search">
              <img src = '/images/tokyo.png' width = 200px />
              <!-- /input-group -->
          </li>
          <li>
              <a href="athletes"><i class="fa fa-dashboard fa-fw"></i>Top Swimmers</a>
          </li>
          <li>
              <a href="athleteslist"><i class="fa fa-table fa-fw"></i> Athletes List</a>
          </li>
          <li>
              <a href="athletesanalysis"><i class="fa fa-table fa-fw"></i> Analysis</a>
          </li>

      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
  </nav>

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Top Ten Swimmers In The History</h1>
          <div class="row">
            <% for (var i = 0; i < data.length; i++) { %>

            <div class="col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">

                      <!--athletes' tabel-->
                      <!--<i class="fa fa-tasks fa-5x"></i>-->
                      <img src="/images/profile/<%=i+1%>.jpg" width = "70" height ="70"/>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"><%= data[i].name.first +' '+ data[i].name.last%></div>
                    </div>
                  </div>
                </div>
                  <a href="#portfolioModal<%=i+1%>" class="portfolio-link" data-toggle="modal">
                    <div class="panel-footer">
                      <span class="pull-left">View Details</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                    </div>
                  </a>
                <!--<a href="#">-->
                  <!--<div class="panel-footer">-->
                    <!--<span class="pull-left">View Details</span>-->
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->
                <!--</a>-->
              </div>
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modals -->
    <% for (var i = 0; i < data.length; i++) { %>
  <div class="portfolio-modal modal fade" id="portfolioModal<%=i+1%>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <!--<div class="row">-->
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2><%= data[i].name.first +' '+ data[i].name.last%></h2>
              <hr class="star-primary">
              <!--<img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">-->
              <img src="/images/profile/<%=i+1%>.jpg" class="img-responsive img-centered" alt=""/>
              <p>Sex: <%= data[i].Sex%></p>
              <p>Birthday: <%= data[i].DOB.day%>/<%= data[i].DOB.month%>/<%= data[i].DOB.year%></p>
              <p>Nationality: <%= data[i].Nationality%></p>
                <% if (data[i].Height) { %>
              <p>Height: <%= data[i].Height%>(cm)</p>
                <% } %>
                <% if (data[i].Weigth) { %>
              <p>Height: <%= data[i].Weigth%>(kg)</p>
                <% } %>
                <% if (data[i].Social) { %>
              <p><a href="<%= data[i].Social.Facebook%>">Facebook</a></p>
              <p><a href="<%= data[i].Social.Twitter%>">Twitter</a></p>
                <% } %>
                <% if (data[i].Rank) {%>
                <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        World Ranking
                    </div>
                  <div class="panel-body">
                    <!--<div class="table-responsive">-->
                      <table class="table">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Year</th>
                          <th>Event</th>
                          <th>Rank</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%for (var j=0; j<data[i].Rank.length; j++){%>
                        <tr>
                          <td><%=j+1%></td>
                          <td><%=data[i].Rank[j].Year%></td>
                          <td><%=data[i].Rank[j].Event%></td>
                          <td><%=data[i].Rank[j].Rank%></td>
                        </tr>
                        <% } %>
                        </tbody>
                      </table>
                    <!--</div>-->
                  </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
                </div>
                <% } %>
                <!--show athletes records-->
                <% if (data[i].Record) {%>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Match Records
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table-striped" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>City</th>
                                    <th>Course</th>
                                    <th>Date</th>
                                    <th>Event</th>
                                    <th>Meet</th>
                                    <th>Points</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var j=0; j<data[i].Record.length; j++){%>
                                <tr>
                                    <td><%= data[i].Record[j].City%></td>
                                    <td><%= data[i].Record[j].Course%></td>
                                    <td><%= data[i].Record[j].Date%></td>
                                    <td><%= data[i].Record[j].Event%></td>
                                    <td><%= data[i].Record[j].Meet%></td>
                                    <td><%= data[i].Record[j].Points%></td>
                                    <td><%= data[i].Record[j].Time%></td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <%}%>


                <!-- /.panel -->
            </div>
          </div>
        <!--</div>-->
      </div>
    </div>
  </div>
    <% } %>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

    <!-- /#wrapper -->
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

<!--sd-admin style-->
<!-- jQuery -->
<script src="startbs/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="startbs/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="startbs/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>
  <!-- DataTables JavaScript -->
  <script src="startbs/vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script src="startbs/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
  <script src="startbs/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!--popup style-->
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>
<!-- Theme JavaScript -->
<script src="/js/freelancer.min.js"></script>

    <!--datatabel style-->
    <!-- DataTables JavaScript -->
    <script src="startbs/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="startbs/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="startbs/vendor/datatables-responsive/dataTables.responsive.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
//        $(document).ready(function() {
//            $('#dataTables-example').DataTable({
//                responsive: true
//            });
//        });


        $(document).ready(function() {
            $('table.table-striped').DataTable();
        } );
    </script>


</body>
</html>